streamlit==1.39.0
llama-index
llama-index-llms-google
llama-index-embeddings-huggingface
sentence-transformers==2.7.0
faiss-cpu>=1.9.0
google-generativeai>=0.5.4
python-dotenv
PyPDF2==3.0.1
pydantic>=2.7.0
tiktoken
chromadb

